{% extends "loader/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}

<body>
    <form action="{% url 'loader:index' %}" class="dropzone" id="myDropzone" method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="fallback">
            <input name="{{form.image.field.widget.input_type}}" type="file" multiple />
        </div>
     </form>
    

     <p>Отправка изображений через API: {% url 'loader:api' %}  </p>
     <p> key = "file", value = ".jpg, .png, .gif"</p>

    <script>
        Dropzone.options.myDropzone = {

        paramName: "file",
  
        parallelUploads: 1, 
        maxFiles: 10, 
  
    };
    </script>




</body>
{% endblock content %}
</html>